input, SELECT {

    border-radius: 7px;
    border: 1px solid #b4b4b4;
    color: #464646;
    margin-left: -18px;

}

.padding{

margin-top: 0.8%;
}

SELECT{

  font-size: 18px;
  width: 150%;

}
.marginlft5{

  margin-left: -0px;

}

input {


  text-align : center;
  font-size : 18px;
  width: 150%;

}

.text{    

  font-size: 18px;
  margin-left: -6%;
  }


button {

  text-align: center;
  background : #377f6f; 
  color : white; 
  border-color : black;
  border : 1px solid #000000;
  width: 65%;
  height: 120%;
  margin-left: 15%;
  margin-top: 5%;
}

.marginrepas
{

    margin-top: 1.5%;
}

.title {

    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: 700;
    }
    
.title2 {

    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: -3.5%;
    font-weight: 700;
    margin-bottom: -3.5%;
}

footer {
  
  background-color:black;
  padding-top: 15px;
  padding-bottom: 25px;
  position: relative;
  bottom: 0;
  width: 105%;
  height: 15%;
  padding-top: 15px;
  padding-bottom: 25px;
}
.ma
.paddingfooter{

  margin-top : 20.5%;
}


.marginlft2 {

  margin-left: 0%;
}

.marginlft{

  margin-left: 0%;
}

.marginlft3{

    margin-left: -7%;
}

.marginlft4{

margin-left: -15%;
}

.marginright{

  margin-left: 50px;
}

.paddingheure{

  margin-top: 2%;
}

.footertext1{

  font-size: 10px;
  color: #b3b3b3;
  text-align: center;
  margin-top: 0%;

}

.marginlft5{

  margin-left: -15px;
}

