.bouton_Validation
{
    text-align: center;
    padding : 15px 25px; 
    background : #008080; 
    color : white; 
    border-color : black;
    width : 120px;
    height : 70px;
    border : none;
    cursor : pointer;

}
.box
{
    border: 1px dotted grey;
    border-radius: 5px;
    cursor: pointer;
}